* { 
  border: 2px solid rgb(169, 156, 156); }
.pages__page {
  border: 1px solid #3bee0f;
  border-radius: 4px;
  background: rgb(178, 36, 166);
}
.countries{
  border: 0.5em solid hsl(0, 5%, 52%);
  list-style: none;
  padding-left: 0;
}
.country{
  border-left: 0.5em solid hsl(0, 5%, 52%);
}